@use '../styles/variables' as *;

/* Global Font Styles */
body {
    font-family: $font-primary;
    font-size: $font-small;
    line-height: 1.6;
     color: $text-color;
    background-color: $background-color;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    text-decoration: none;
    color: $primary-color;
  
    &:hover {
      color: darken($primary-color, 10%);
    }
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    font-weight: 700;
    color: $text-color;
    line-height: 1.3;
    margin: 0 0 $spacing-unit;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  /* Paragraphs*/
  p {
    font-size: $font-base-size;
    margin-bottom: $spacing-unit;
    color: $light-text-color;
    line-height: 1.6;
  }
  
  // Lists
  ul, ol {
    margin: $spacing-unit 0;
    padding-left: $spacing-large;
    line-height: 1.5;
  }
  
  li {
    margin-bottom: $spacing-small;
  }
  