@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #FFFFFF;
$accent-color: #39CDCC;
$background-color: #FBFBFB;
$text-color: #213F7D;
$light-text-color: #545F7D;
$success-color: #39CD62;
$error-color: #E40338;
$pending-color: #E9B200;
$inactive-color: #545F7D;

$font-primary: 'Work-sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$font-base-size: 16px; 
$font-large: 24px;
$font-medium: 18px;
$font-small: 14px;

$spacing-unit: 16px;
$spacing-small: 8px;
$spacing-large: 32px;
$spacing-xlarge: 64px;

$border-radius-small: 4px;
$border-radius-large: 8px;

$svg-width:16px;
$svg-height:12.8px;

