@use '../styles/variables' as *;

body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}
// header
/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #fff;
  // padding-bottom: 60px;
}

/* Search bar */
.search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
   input {
    border: none;
    width: 400px;
    padding: 10px;
    font-size: 16px;
    outline: none;
  }
  
   button {
    background-color: #00c2c2;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
  }

  
}

/* Right section styling */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
// .navbar-left{
//   display: flex;
// }

.docs-link {
  margin-right: 20px;
  color: $text-color;
  text-decoration: underline;
}



/* User Dropdown */
.user-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  gap: 10px;
  .userimage{
    height:40px;
    width: 40px;
    background-color: red;
    background: url(../assets/user.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

  }
}

.user-dropdown .avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.user-dropdown .username {
  font-weight: 500;
}

.user-dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  min-width: 150px;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.user-dropdown .dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: $light-text-color;
}

.user-dropdown .dropdown-content a:hover {
  background-color: #f0f0f0;
}
// flex sidebar and user section
.dashboard {
  display: flex;
  @media(max-width:768px){
    flex-direction: column;
  }
  .user-section{
    flex: 1;
    padding: 50px;
  }
 
}

.sidebar {
  width: 250px;
  background-color: $primary-color;
  height: 100%;
  @media(max-width:768px){
    // display: none;
  }

  .logo {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: $text-color;
  }

  nav ul {
    list-style: none;
    padding: 0;
    .heading {
      font-weight: 700;
      font-size: 12px;
      color: $text-color;
      text-transform: uppercase;
    }
    li {
      position: relative;
      padding: 15px 20px;
      color: $light-text-color;
      cursor: pointer;
      display: flex;
      align-items: center;

      &.active {
        background-color: #39cdcd39;
        color: $text-color;
      }
      &.active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color:$accent-color;
      }
      svg{
        padding: 0 10px 0 0;
      }
      
    }
  }
}

.search{
  position: relative;
  width: 400px;
}

.main-content {
  flex-grow: 1;
  background-color: $background-color;

  .header {
    display: flex;
    justify-content: space-between;

    input {
      width: 400px;
      height: 40px;
      border: 1px solid rgba(128, 128, 128, 0.248);
      border-radius: $border-radius-large;
    }
    input::placeholder{
      padding-left: 10px;
    }
    .search-icon{
      position: absolute;
      top: 0;
      right: -10px;
      height: 43px;
      background-color: $accent-color;
      border-radius: 0px 4px 4px 0px;
      width: 35px;
      text-align: center;
      svg{
        
      }
    }

    .user-info {
      display: flex;
      align-items: center;

      span {
        margin-right: 10px;
        font-weight: bold;
      }     
    }
  }

  .stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;

    .stat-box {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 23%;
      text-transform: uppercase;
      p{
        font-size: $font-small;

      }

      h2 {
        color: $text-color;
        font-size: 24px;
        margin: 0;
      }

      p {
        color: $light-text-color;
        margin: 5px 0 0 0;
      }
    }
  }

  .user-table {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 15px;
        border-bottom: 1px solid black;
      }

      th {
        text-align: left;
        color: $light-text-color;
      }

      }
    }
  }

// table
.table-container{
  background-color: $primary-color;
  width: 100%;
  border-radius: $border-radius-small;
  padding: 10px;
  position: relative;

  
 td{
  padding-top:12px;
  padding-bottom:12px;
  border-bottom: 1px solid #ddd;
 }
  th div{
    display: flex;
    align-items: center;
    font-size: $font-small;
    margin-bottom: 10px;
  }
  th div svg{
    padding-left: 5px;

  }

}
.hover{
  position: relative;
  padding: 20px;
  text-align: center;


}
.hover .dropdown-content {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #fff;
  min-width: 150px;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  svg{
    width: 14px;
    padding-right: 5px;
  }
}
.hover:hover .dropdown-content {
  display: block;
}
.hover .dropdown-content p:hover {
  background-color: #f0f0f0;
}

.status{
  display: inline-block;
  padding: 4px 10px;
  margin: 0;
  border: none;
  border-radius: 15px;
  text-align: center;
}
.success-color{
  background-color:#39cd633b;
  color: $success-color;
}
.inactive-color{
  background-color: #545f7d2e;
  color: $inactive-color;
}
.pending-color{
  background-color: #e9b3003d;
  color: $pending-color;
}
.error-color{
  background-color: #e4033733;
  color: $error-color;
}
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.pagination-info {
  display: flex;
  align-items: center;
  font-size: 14px;

  select {
    margin: 0 8px;
    padding: 4px 10px;
    font-size: $font-small;
    color: $text-color;
    // font-weight:500 ;
    border:none;
    border-radius: 4px;
    background-color: #ddd;
    outline: none;
  }
}

.pagination-controls {
  display: flex;
  align-items: center;
  .pag-btn{
    background-color: #ddd;
    padding: 6px;
    border-radius:$border-radius-small ;
    color: $text-color;
    font-weight: 600;
  }
  button {
    padding: 8px 12px;
    border: none;
    color: $light-text-color;
    cursor: pointer;
    margin: 0 4px;
    &.active{
      color: $text-color;
    }
    &:disabled {
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      color: $text-color;
    }
  }

  .page-num {
    padding: 8px 12px;
    margin: 0 2px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      background-color: #39cdcc;
      color: #fff;
    }
  }
}

// Responsive design
@media screen and (max-width: 768px) {
  .stats {
    flex-direction: column;
    .stat-box {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .sidebar {
    display: none;
  }

  .main-content {
    padding: 10px;

    .header input {
      width: 100%;
    }
  }
}