@use '../styles/variables'as *;
.container{
    padding: 0 40px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.cta button{
    padding: 10px 15px;
    margin-right: 10px;
    // border: 2px solid ;
    border-radius: $border-radius-small;
    background-color: transparent;
    .active{
        color: $accent-color;
        border: 2px solid $accent-color;
    }
    .blacklisted{
        color: $error-color;
        border: 2px solid $error-color;
    }
}
nav{
    // display:flex;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        li{
            cursor: pointer;
            
        }
        .active{
                color: $accent-color;
                border-bottom:2px solid $accent-color ;
            
        }
    }
}